<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/pool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/view-product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditproductServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.EditproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditproductServlet</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateproductServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.UpdateproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateproductServlet</servlet-name>
        <url-pattern>/update-product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProductDetailsServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.GetProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductDetailsServlet</servlet-name>
        <url-pattern>/get-product-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddproductServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.AddproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddproductServlet</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/view-category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/edit-category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/update-category</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCategoryDetailsServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.GetCategoryDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCategoryDetailsServlet</servlet-name>
        <url-pattern>/get-category-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>lk.ijse.ecomerce.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/delete-category</url-pattern>
    </servlet-mapping>

</web-app>
